/* ====================================== CONTACT US ==================================== */
.firstSectionContact{
    background-image: url('../images/11.jpg');
    height: 400px;
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 300px;
    padding-bottom: 150px;
    display: grid;
    justify-content: center;
}

.firstSectionContact>h3, .firstSectionContact>ul>li{
    text-transform: uppercase;
    font-weight: bold;
}

.firstSectionContact>ul>li{
    font-size: 12px;
}

.firstSectionContact>ul>li>a{
    text-decoration: none;
    color: rgb(255, 208, 0);
}

.firstSectionContact>ul>li{
    display: inline;
}

.fa-angle-right{
    color: white;
    font-size: 15px ;
    margin: 0px 10px;
    position: relative;
    bottom: -1px;
}

.secondSectionContact{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-self: center;
    column-gap: 35px;
    padding: 80px 200px; 
}

.first-column, .second-column{
    display: grid;
    grid-template-rows: 20% 80%;
}

.contactForm{
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.name-phone{
    margin-bottom: 0px;
}

.name-phone, .email-sendButton{
    display: grid;
    grid-template-columns: 50% 50%;
}



.name-phone>input,.email-sendButton>input{
    padding-left: 20px;
    border: none;
    background-color: white;
    outline: none;
    border-radius: 4px;
}

#form-user-phone{
    margin-left: 10px;
}

.messageArea{
    margin: 15px 0px;  
}

.messageArea>textarea{
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    padding-left: 20px; 
    outline: none;
    resize : none;
}


.email-sendButton>input:active{
    background-color: white;
    border: 5px solid rgb(100,176,0);
    border: 1px;
}

.email-sendButton>input:focus, .name-phone>input:focus, .messageArea>textarea:focus {
    background-color: white;
    border: 1px solid rgb(100,176,0);
}

#form-email{
    margin-right: 10px;
    padding-left: 20px; 
}


.heading-component-title::before{
    content: " ";
    border-left: 4px solid rgb(100,176,0);
    margin-right: 10px ;
}
.heading-component-title{
    text-transform: uppercase;
}

.contact-list{
    background-color: white;
    font-size: 15px ;
}

.contact-list>div>dl{
    display: grid;
    align-self: center;
    padding: 5px 50px;
}

.dlEmail{
    margin-top:20px;
}

.dlPhone{
    margin: 25px 0px;
}

.contact-list>div>dl>dd>a{
    text-decoration: none; 
    color: black;
}

.contact-list>div>dl>dt{
    color: rgb(100,176,0);
}

.contact-list>div>dl>dd>a:hover{
    color: rgb(100,176,0);
}

.icon{
    color: rgb(100,176,0);
    margin-right: 15px;
}

.sendButton{
    border: none;
    background-color: rgb(100,176,0);
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
}

.sendButton:hover{
    background-color: rgb(255, 208, 0);    
}

/*=========================================RESPONSIVE PHONE================================*/

/******************************************MOBILE******************************************/
@media screen and (max-width:768px) {
   /*******firstSectionContact*********/
    .firstSectionContact{
        height: 200px;
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .firstSectionContact>ul>li{
        font-size: 10px;
    }
    /*******secondSectionContact*********/

    .secondSectionContact{
        display: flex;
        flex-direction: column;
        padding: 65px 10px; 
    }

    .first-column, .second-column{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    .contactForm{
        display: flex;
        flex-direction: column ;
        margin-bottom: 60px;
    }
    .name-phone{
        margin-bottom: 0px;
        margin-bottom: 15px;
    }
    .name-phone, .email-sendButton{
        display: flex;
        flex-direction: column;
    }
    .name-phone>*{
        margin-bottom: 15px;
    }
    .email-sendButton>input{
        margin-bottom: 20px;
    }

    .name-phone>input, .email-sendButton>input{
        width: 100%;
        height: 60px;
    }
    #form-user-phone{
        margin: 0px;
    }
    .email-sendButton>button{
        width: 100%;
        padding: 0px;
        height: 60px;
        margin-top: 15px;
    }

    .messageArea{
        margin: 0px;
        padding: 0px;
        margin-bottom: 7px;
    }

    .messageArea>textarea{
        margin: 0px;
        outline: none;
        height: 200px;
        resize : none;
    }

    #form-email{
        margin: 0px;
        padding-left: 20px;        
    }

    .heading-component-title::before{
        content: " ";
        border-left: 4px solid rgb(100,176,0);
        margin-right: 10px ;
    }

    .heading-component-title{
        text-transform: uppercase;
        font-size:14px ;
        font-weight: bold;
    }

    .contact-list{
        background-color: white;
        font-size: 16px;
    }

    .contact-list>div>dl{
        display: grid;
        align-self: center;
        padding: 10px 20px;
    }

  .contact-list>div>dl>dd>a{
        text-decoration: none; 
        color: black;
    }

    .contact-list>div>dl>dt{
        color: rgb(100,176,0);
        text-transform: uppercase;
        font-size:13px;
        margin-bottom: 3%;
    }

    .icon{
        font-size: 20px;
        margin-right: 15px;
    }


}

/* **********************Tablette********************** */
@media screen and (min-width:768px) and (max-width:980px) {
     /*******firstSectionContact*********/
    .firstSectionContact{
        height: 300px;
        padding-top: 150px;
        padding-bottom: 150px;
        }
    .firstSectionContact>ul>li{
        font-size: 10px;
    }
     /*******secondSectionContact*********/

    .secondSectionContact{
        display: flex;
        flex-direction: column;
        padding: 70px 100px; 
    }

    .first-column, .second-column{
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    .contactForm{
        display: flex;
        flex-direction: column ;
        margin-bottom: 60px;
    }

    .name-phone, .email-sendButton {
        display: flex;
        flex-direction: row;
        row-gap: 10px;
    }

    .name-phone>input, .email-sendButton>input{
        width: 100%;
        height: 60px;
    }
    .email-sendButton{
        margin-top:10px;
    }
    .email-sendButton>button{
        width: 100%;
    }

    #form-user-phone{
        margin-left: 10px;
    }
  
    .messageArea{
        margin-bottom: 0px;
    }

    .messageArea>textarea{
        margin-top: 0px;
        outline: none;
        height: 200px;
        resize : none;
    }

    #form-email{
        margin-right: 10px;
        padding-left: 20px;        
    }

    .contact-list{
        font-size: 18px;
    }

    .contact-list>div>dl{
        display: grid;
        align-self: center;
        padding: 10px 20px;
    }

    .contact-list>div>dl>dt{
        text-transform: uppercase;
        font-size:13px;
        margin-bottom: 3%;
    }

    .icon{
        font-size: 25px;
    }

    
}

/********************LARGE TABLETTE**************************/


@media screen and (min-width:980px) and (max-width:1025px) {
    .secondSectionContact{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        padding: 100px 150px; 
    }
    .contactForm{
        display: flex;
        flex-direction: column;
    }

    .name-phone{
        margin-bottom: 10px;
    }
    .name-phone>input{
        height: 60px;
    }
    .email-sendButton>*{ 
        height: 60px;
    }
    

    .messageArea>textarea{
        height: 200px;
    }

    .contact-list{
        display: flex;
        flex-direction: column;
        font-size:19px;
    }
    .dlPhone>dd{
        margin-bottom:50px ;
    }

    .contact-list>div>dl>dt{
        color: rgb(100,176,0);
        text-transform: uppercase;
        font-size:19px;
        margin-bottom: 3%;
    }

    .icon{
        font-size: 30px;
    }
}