.filters{
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin-bottom: 50px;
}

.filters select{
    padding: 20px 30px;
    width: 100%;
    border: 0.1px solid rgb(216, 215, 215);
    border-radius: 5px;
    outline: none;
    background-color: white;
    color: #9e9b9e;

}
